# Core dependencies
pyspark==3.5.0
nltk==3.8.1

# Django web framework
Django==5.0.1
django-crispy-forms==2.1
crispy-tailwind==1.0.3

# Data processing and analysis
pandas==2.1.4
numpy==1.26.2

# Visualization
plotly==5.18.0

# Utilities
python-dateutil==2.8.2
